*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin:  0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  border-bottom: 2px solid white;
  padding: 1rem;
  margin: 2rem 0 ;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
}
.col 
{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.col h1 {
  margin: 0.5rem;
}
.col p 
{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.green {
  color: #00d695;
}
.red {
  color: #e75050;
}
.orange {
  color: #d27752;
}
img
{
  width: 100%;
}
button {
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
}
.logo
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo h1 {
  margin-top: 1rem;
}
.fa-play{
  font-size: 2rem;
}
.center {
  position: absolute;
  top: 30%;
  font-size: 2rem;
}


@media screen and (max-width:768px) {
  .col{
    width: 100%;
  }
  nav{
    justify-content: center;
  }
  button{
    display: none;
  }
}